@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    outline: none;
    border-style: none;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Poppins", "Nunito Sans", Arial, sans-serif;
    height: 100dvh;
    width: 100%;
    display: grid;
    place-items: center;
    background: linear-gradient(to bottom right, #3498ff, #1aff9c); 
}

.everything {
    text-align: center;
}

.reset {
    padding: 10px 20px;
    background-color: #e74c3c;
    color: #fff;
    margin-top: 10px;
    border-radius: 5px;
}

.reset:hover {
    cursor: pointer;
    background-color: #e95c4d;
}

.game-container {
    text-align: center;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

h1 {
    color: #2c3e50; 
}

.word-display {
    font-size: 24px;
    margin: 20px;
    color: #e74c3c; 
}

.user-input {
    margin-top: 10px;
    font-size: 16px;
    padding: 10px;
    border: 2px solid #27ae60; 
    border-radius: 5px;
    background-color: #ecf0f1; 
    text-align: center;
}

.user-input:focus {
    outline: none;
    border-color: #3498db; 
}

.score {
    margin-top: 20px;
    font-size: 18px;
    color: #f39c12; 
}

.timer {
    font-size: 26px;
    text-align: center;
    color:#00ff00;
}

.startBtn {
    padding: 20px;
    border-radius: 5px;
    font-size: 36px;
    position: relative;
    overflow: hidden;
}

.startBtn:hover {
    cursor: pointer;
}

.startBtn::before {
    content: "";
    position: absolute;
    background-color: red;
    width: 0;
    height: 0;   
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%; 
    transition: all 0.3s ease-in-out;
}

.startBtn:hover::before {
    width: 500px;
    height: 500px;
    overflow: hidden;
}

span {
    position: relative;
    z-index: 1;
}

@keyframes changeColor {
    0%, 100% {
        color: #ff0000;
    }
    50% {
        color: #00ff00; 
    }
}

@keyframes flash {
    0%, 100% {
      color: #ff0000; 
    }
    50% {
      color: transparent; 
    }
}

.flash {
animation: flash 1s infinite;
}

.countDown {
    font-size: 300px; 
    font-weight: bold;
    animation: changeColor 2s infinite;
    color: #fff;
}